@model Erp.Business.Entity.Vendas.Pedido.Restaurante.PedidoRestaurante

@{
    Layout = "../Shared/_Layout.cshtml";
}



<div >
    <ul class="nav navbar-btn" style="width: 150px; border: aliceblue double 1px; horiz-align: center">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Pedidos", "Index", "Pedido")</li>
        <li>@Html.ActionLink("Resultados", "Index", "ListaPedido")</li>
        <li>@Html.ActionLink("Sair", "Sair", "Login")</li>
    </ul>

</div>
