@model Erp.Business.Entity.Vendas.Pedido.Restaurante.PedidoRestaurante

@{
    Layout = "../Shared/_Layout.cshtml";
}



<div align="center">
    <br />
    @Html.ActionLink("Pedidos", "Index", "Pedido", null, new { @class = "btn-primary btn-block btn-lg" })
    @Html.ActionLink("Resultados", "Index", "ListaPedido", null, new { @class = "btn-primary btn-block btn-lg" })
    @Html.ActionLink("Sair", "Index", "Login", null, new { @class = "btn-primary btn-block btn-lg" })
    
</div>
