@using System.Globalization
@using RestauranteMobile.Extensions
@model IList<int>
<div class="container">

    @foreach (var m in Model)
    {
        <div class="btn btn-lg btn-primary" style="">

            @Ajax.Link(("0" + m).Substring(("0" + m).Length - 2),
                    "ConsumoMesa", "Pedido", new  { mesa = m} )
            @*@Html.Link(("0" + m).Substring(("0" + m).Length - 2),
            @Url.Action("ConsumoMesa",new{mesa = m}))*@
        </div>


    }

</div>