@using System.Diagnostics
@using RestauranteMobile.Extensions
@model RestauranteMobile.Models.PedidoModel
@{
    Layout = "~/Views/Shared/_PedidoLayoutPage.cshtml";
    var composicao = Model.Entity.Produtos.FirstOrDefault(x => x.IdGuid == Model.ProdutoPedido.Composicao);
}
<div class="container">
    
</div>

<script type="text/javascript" language="javascript">
    $(function () {
        $('#ProdutoPedido_IdProdutoAutoComplete').width(250);
    });
</script>
@using (Html.BeginForm("AddItemComposicaoPedido", "Pedido", FormMethod.Post))
{
    Html.RenderPartial("_PedidoPartialPage",Model);
    Html.RenderPartial("_AddProdutoComposicaoPartialPage",Model);
    <div style="visibility: hidden">
    @{
        Html.RenderPartial("_ProdutoPedidoPartialPage",Model);
    }

</div>
}
<hr />
@{
    Debug.Assert(composicao != null, "composicao != null");
}

