@model RestauranteMobile.Models.PedidoModel
@{

    Layout = "~/Views/Shared/_PedidoLayoutPage.cshtml";
    ViewBag.Mesa = Model.Entity.Mesa;


}

@using (Html.BeginForm("AddItemPedido", "Pedido", null, FormMethod.Post, new { @autocomplete = "false" }))
{
   Html.RenderPartial("_PedidoPartialPage", Model);
    <div class="navbar navbar-inverse navbar-fixed-top">
        <a href="@Url.Action("Index","Pedido")"><img src="~/Images/pedido.png"></a>
        <a href="@Url.Action("ConfirmarPedido","Pedido")"><img src="~/Images/save.png" /></a>
        <a href="@Url.Action("CancelarPedido","Pedido")"><img src="~/Images/delete.png" /></a>
    </div>
    Html.RenderPartial("_AddProdutoPartialPage", Model);
    <hr />
    Html.RenderPartial("_ProdutoPedidoPartialPage", Model);


}
