@model RestauranteMobile.Models.PedidoModel
@{

    Layout = "~/Views/Shared/_PedidoLayoutPage.cshtml";
    ViewBag.Mesa = Model.Entity.Mesa;


}
<script type="text/javascript" language="javascript">
    $(function() {
        $("#ProdutoPedido_Quantidade").attr("value", "1");
        $("#ProdutoPedido_IdProdutoAutoComplete").focus();
    });
    
    function confirmarPedido() {
        $.post('@Url.Action("ConfirmarPedido","Pedido")', $('#formPedido').serialize(), function (data) {
            alert('Pedido confirmado com sucesso');
            $("#content").html(data);
            return data;
        },'html');
    }
</script>
<div class="navbar navbar-inverse navbar-fixed-top">
    <a onclick="confirmarPedido()"><img src="~/Images/save.png" /></a>
    <a href="@Url.Action("CancelarPedido","Pedido")"><img src="~/Images/delete.png" /></a>
</div>
@using (Html.BeginForm("AddItemPedido", "Pedido", null, FormMethod.Post, new
{
   id = "formPedido"
}))
{
    Html.RenderPartial("_PedidoPartialPage", Model);

    Html.RenderPartial("_AddProdutoPartialPage", Model);
    <hr />
    <div style="visibility: hidden">
        Html.RenderPartial("_ProdutoPedidoPartialPage", Model);
    </div>


}
@{
    Html.RenderPartial("_ProdutoPedidoPartialPage", Model);
}
