@using System.Activities.Expressions
@using Erp.Business
@using RestauranteMobile.Extensions
@model RestauranteMobile.Models.PedidoModel
@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Mesa = Model.Entity.Mesa;
    

}

@using (Html.BeginForm("AddItemPedido", "Pedido", Model, FormMethod.Post))
{
    Html.RenderPartial("_PedidoPartialPage", Model);
    Html.RenderPartial("_AddProdutoPartialPage", Model);
}
<hr />
@using (Html.BeginForm())
{
    foreach (var produto in Model.Entity.Produtos)
     {
         <div class="form-group" align="left" style="width: 100%">
             <a href="@Url.Action("ComporItem", "Pedido", new {composicao = produto.IdGuid})">
                 @Html.Partial("_ProdutoPedidoPartialPage",produto)
             </a>
             <hr style="background-color: black" />
         </div>
     }
}
    

